/* Load font faces */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.interface {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
}

body {
    /* gradient from white to blue */
    background: linear-gradient(225deg, #739ace 0%, #4c4d81 100%);
}

@keyframes TITLE_TEXT {
    from {
        color: white;
    }
    20% {
        color: orange;
    }
    40% {
        color: greenyellow;
    }
    60% {
        color: mediumpurple;
    }
    80% {
        color: crimson;
    }
    100% {
        color: white;
    }
}

.game-title {
    animation: 5s linear 0s infinite TITLE_TEXT;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}